<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- action속성: form에 작성한 테이터를 어디로 보낼지 지정-->
<form action="/shop/save" method="post">
    <!--name 속성: 서버로 전송할 때 변수이름의 역할-->
    아이디:   <input type="text" name="userId" placeholder="id"> <br>
    비밀번호: <input type="password" name="userPwd"> <br>
    이메일:   <input type="text" name="userEmail"> <br>
    휴대폰번호: <input type="tel" name="userTel"> <br>
    이름: <input type="text" name="userName"> <br>
    성별: <label>
        <input type="radio" name="gender" value="man"/>
    <span>남자</span>
</label>

    <label>
        <input type="radio" name="gender" value="woman"/>
        <span>여자</span>
    </label>

    <label>
        <input type="radio" name="gender" value="null" checked/>
        <span>선택안함</span>
    </label> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>